server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:3000"
              - "http://127.0.0.1:3000"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowed-headers:
              - Authorization
              - Content-Type
            allow-credentials: true
            exposed-headers:
              - Authorization
              - X-User-Id
      routes:
        # 1. ПУБЛИЧНЫЕ РОУТЫ (без JWT)
        - id: public-auth
          uri: http://user-service:8081
          predicates:
            - Path=/api/auth/register, /api/auth/login
          filters:
            - RewritePath=/api/auth/(?<path>.*), /api/users/$\{path}



        # 2. ЗАЩИЩЕННЫЕ РОУТЫ (с JWT)
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/users/**
          filters:
            - name: JwtAuthenticationFilter

        - id: task-service
          uri: http://task-service:8082
          predicates:
            - Path=/api/tasks/**
          filters:
            - name: JwtAuthenticationFilter


management:
  endpoints:
    web:
      exposure:
        include: health,info



logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.todo.gateway: DEBUG
    reactor.netty: DEBUG