server:
  port: 8081

spring:
  application:
    name: user-service


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info


logging:
  level:
    com.todo: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG